html {
    // margin-left: calc(100vw - 100%);
    scrollbar-gutter: stable;
}
body {
    height: 100vh;
    @apply antialiased transition-all duration-300 ease-in-out text-black;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
    height: 10px;
    border-radius: 10px;
}

*::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: #7fccb6;
    //-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

*::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, 0);
}

//!стрелки на input=number
/* Chrome, Safari, Edge */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
.no-spinner[type="number"] {
    -moz-appearance: textfield;
}
